.col-md-3.col-xs-12
  .card
    = image_tag 'background.jpg', class: 'card-img-top'
    .card-body
      %h4.card-title
        %i.fa.fa-comments-o{"aria-hidden" => "true"}
        = chat_room.title

      - if chat_room.description.present?
        %p.card-text= chat_room.description 
      - else
        %p.card-text Thanks you for using our cs-chat room service. Please enjoy our free service. Please kindly share this to your friends.
    .card-body{align: 'right'}

      = link_to chat_room, class: 'card-link btn btn-info' do
        %i.fa.fa-paper-plane{"aria-hidden" => "true"}

      - if current_user.is_admin? or chat_room.user.id == current_user.id
        = link_to edit_chat_room_path(chat_room), class: 'card-link btn btn-success' do
          %i.fa.fa-edit{"aria-hidden" => "true"}

        = link_to chat_room, method: :delete, data: { confirm: 'Are you sure?' },class: 'card-link btn btn-danger' do
          %i.fa.fa-trash{"aria-hidden" => "true"}


