.row
  .col-md-3.col-xs-12{:style => "margin-bottom: 15px;"}
    .card.text-white.bg-info
      .card-header
        %i.fa.fa-user-plus{"aria-hidden" => "true"}
        Sign Up
      .card-body.card-body-signup
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          - if devise_error_messages!.present?
            .alert.alert-danger{:role => "alert"}
              = devise_error_messages!
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :password_confirmation, 'Password Confirmation'
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          = f.submit "Sign up", class: 'btn btn-outline-light', id: 'login-submit'
        %br
          = render "devise/shared/links"
  .col-md-9.col-xs-12
    .card.bg-dark.text-white{:style => "border: none"}
      = image_tag 'bg1.png', class: 'card-img', style: "width: 100%; height: 450px;"
    .card-img-overlay#about{style: 'padding-left: 40px; padding-right: 40px'}
      %h1.card-title{style: 'color: white'} Hello, Guys!
      %br
        %p.card-text We are NIPTICT CS Students. Our site was developed by using Rails 5. It might be bugs. We are sorry for inconvenient and we will try our best to develope it.
        %hr
        %p.card-text The Rails Chat Rooms is developed for Computer Science Students. It can help you guys explore about the chat rooms that talk about this Computer Science.
        %p.card-text
          %b By Nhean  Kanitha
        %span.badge.badge-success Everything is Public
