<div class = "row">
  <div class="col-md-3 col-xs-12" style="margin-bottom: 15px;">
    <div class="card text-white bg-info">
      <div class="card-header"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end -%>

          <%= f.submit 'Log In ',class: 'btn btn-outline-light', id: 'login-submit' %>

        <% end %>

        <br>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-xs-12">
    <div class="card bg-dark text-white" style="border: none">
      <%= image_tag 'bac-login.jpg', class: 'card-img' %>
      <div class="card-img-overlay">
        <h1 class="card-title" style="color: white"> Hello, Guys!</h1>
        <br>
        <p class="card-text">We are developers. Our site was developed by using Rails 5. It might be bugs. We are sorry for inconvenient and we will try our best to develope it.</p>
        <hr>
        <p class="card-text">The CS-Chat Rooms is developed for Computer Science Students. It can help you guys explore about the chat rooms that talk about this Computer Science.</p>

        <p class="card-text">By Nhean & Kanitha</p>
        <span class="badge badge-success">Everything is Public</span>
      </div>
    </div>
  </div>
</div>